<div id="pixi-main"></div>

<div id="pixi-standard"></div><div id="pixi-standard-overlay"></div>
<div id="pixi-droppedD"></div><div id="pixi-droppedD-overlay"></div>

<div id="pixi-sixthString"></div>
<div id="pixi-fifthString"></div>
<div id="pixi-fourthString"></div>
<div id="pixi-thirdString"></div>
<div id="pixi-secondString"></div>
<div id="pixi-firstString"></div>

<div id="pixi-pro"></div>

<div id="pixi-onOverlay"></div>

<audio id="audio-nav" controls="false" x-palm-media-audio-class="navigation">
